# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables (secrets)
.env
.env.development
.env.production

# Docker
*.pid
*.seed
*.env.local
