services:
  chatbot:
    build: ./chatbot
    container_name: pd_chatbot_node
    restart: always
    environment:
      OPENAI_API_KEY_2: ${OPENAI_API_KEY_2}
      PORT: 9000
    ports:
      - "9000:9000"

  chatbot_ui:
    build: ./chatbot-ui
    container_name: pd_chatbot_ui
    environment:
      - REACT_APP_API_URL=http://chatbot:9000/chat
    ports:
      - "9001:80"
    depends_on:
      - chatbot

volumes:
  n8n_data:
